#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
Package.StoreAssociation.xml
[Aa]ppPackages
[Bb]in
[Bb]undleArtifacts
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
#Ignore files v12.suo
*.v12.suo