<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="6704Astronauta.ObliczNapiwek" Publisher="CN=DF0F6580-5E48-42F7-A429-71C2D42F091B" Version="1.1.0.3" />
  <mp:PhoneIdentity PhoneProductId="2722552c-2803-4638-8ead-3049db4bf358" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Oblicz Napiwek</DisplayName>
    <PublisherDisplayName>Astronauta</PublisherDisplayName>
    <Logo>Assets\ikona120x120.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Napiwek.App">
      <m3:VisualElements DisplayName="Oblicz Napiwek" Square150x150Logo="Assets\ikona360x360.png" Square44x44Logo="Assets\ikona106x106.png" Description="Obliczanie napiwku." ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\ikona58x58.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\ikona744x360.png" Square71x71Logo="Assets\ikona170x170.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\bg1152x1920astroblue.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>