<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="a95d4f39-3165-46ff-bb70-111ba85ecac2" Publisher="CN=Piotr" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="a95d4f39-3165-46ff-bb70-111ba85ecac2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Napiwek</DisplayName>
    <PublisherDisplayName>Piotr</PublisherDisplayName>
    <Logo>Assets\ikona120x120.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Napiwek.App">
      <m3:VisualElements DisplayName="Napiwek" Square150x150Logo="Assets\ikona360x360.png" Square44x44Logo="Assets\ikona106x106.png" Description="Napiwek" ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\ikona58x58.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\ikona744x360.png" Square71x71Logo="Assets\ikona170x170.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\bgnowe.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>